<script lang="ts">
	import '../app.postcss';
	import "$lib/styles/Lirio.postcss";

	// Highlight JS
	import hljs from 'highlight.js/lib/core';
	import 'highlight.js/styles/github-dark.css';
	import { AppShell, Drawer, getDrawerStore, initializeStores, Modal, storeHighlightJs } from '@skeletonlabs/skeleton';
	import xml from 'highlight.js/lib/languages/xml'; // for HTML
	import css from 'highlight.js/lib/languages/css';
	import javascript from 'highlight.js/lib/languages/javascript';
	import typescript from 'highlight.js/lib/languages/typescript';

	hljs.registerLanguage('xml', xml); // for HTML
	hljs.registerLanguage('css', css);
	hljs.registerLanguage('javascript', javascript);
	hljs.registerLanguage('typescript', typescript);
	storeHighlightJs.set(hljs);

	// Floating UI for Popups
	import { computePosition, autoUpdate, flip, shift, offset, arrow } from '@floating-ui/dom';
	import { storePopup } from '@skeletonlabs/skeleton';
	import Menu from '$lib/components/menus/Menu.svelte';
	import { Footer } from '$lib/components';
	storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });

	// Drawer
	initializeStores();
	const drawerStore = getDrawerStore();
</script>

<Drawer>
	{#if $drawerStore.id === "mobile-menu"}
		<Menu data={{
			Mobile: true,
			ShowShareButton: true,
			Icon: {
				Image: "/favicon.png",
				AltText: "Home",
				Url: "/"
			},
			Links: [{
				Label: "Label",
				Url: "#"
			}],
			Menus: [
				{ 
					Label: "Components",
					Event: "click",
					Placement: "bottom",
					Links: [
						{
							Label: "Headers",
							Url: "/headers"
						},
						{
							Label: "Teams",
							Url: "/teams"
						},
						{
							Label: "Content",
							Url: "/content"
						},
						{
							Label: "CTAs",
							Url: "/ctas"
						},
						{
							Label: "Embeds",
							Url: "/embeds"
						}
					]
				}
			]
		}}/>
	{/if}
</Drawer>

<Modal/>

<AppShell>
	<svelte:fragment slot="header">
		<Menu data={{
			Mobile: false,
			ShowShareButton: true,
			Icon: {
				Image: "/favicon.png",
				AltText: "Home",
				Url: "/"
			},
			Links: [{
				Label: "Label",
				Url: "#"
			}],
			Menus: [
				{ 
					Label: "Components",
					Event: "click",
					Placement: "bottom",
					Links: [
						{
							Label: "Headers",
							Url: "/headers"
						},
						{
							Label: "Teams",
							Url: "/teams"
						},
						{
							Label: "Content",
							Url: "/content"
						},
						{
							Label: "CTAs",
							Url: "/ctas"
						},
						{
							Label: "Embeds",
							Url: "/embeds"
						}
					]
				}
			]
		}}/>
	</svelte:fragment>

	<slot />

	<svelte:fragment slot="pageFooter">
		<Footer data={{
			Icon: {
				Image: "/favicon.png",
				AltText: "Home",
				Url: "/"
			},
			MissionStatement: "Doing stuff for the things",
			Categories: [
				{
					Label: "Components",
					Links: [
						{
							Label: "Headers",
							Url: "/headers"
						},
						{
							Label: "Teams",
							Url: "/teams"
						},
						{
							Label: "Content",
							Url: "/content"
						},
						{
							Label: "CTAs",
							Url: "/ctas"
						},
						{
							Label: "Embeds",
							Url: "/embeds"
						}
					]
				}
			]
		}}/>
	</svelte:fragment>
</AppShell>
