<script lang="ts">
  import { getContainerWidthClass } from '$lib/util';
	import clsx from 'clsx';
	import BackgroundImageComponent from '../BackgroundImage.svelte';

  export let data;

  let { EyebrowText, Heading, Body, Styles, BackgroundImage } = data;

  const textAlignment = clsx(
    Styles.self.textAlign === "left" && "",
    Styles.self.textAlign === "center" && "items-center text-center",
    Styles.self.textAlign === "right" && "items-end text-right"
  )
</script>

<div id={`HeadingSimpleWithEyebrowBackground-${Heading}`} class={`relative isolate overflow-hidden w-full mx-auto py-24 sm:py-32`}>
  {#if BackgroundImage}
    <BackgroundImageComponent BackgroundImage={BackgroundImage} />
  {/if}
  <div class={`w-full mx-auto px-6 lg:px-8 ${getContainerWidthClass(Styles.self.width)}`}>
    <div class={`lg:mx-0 mx-auto flex flex-col ${textAlignment}`}>
      <p class="text-base font-semibold leading-7 text-secondary-500" data-sb-field-path=".EyebrowText">{EyebrowText}</p>
      <h2 class="mt-2 text-4xl font-bold tracking-tight sm:text-6xl text-primary-500" data-sb-field-path=".Heading">{Heading}</h2>
      <p class="mt-6 text-lg leading-8 max-w-2xl" data-sb-field-path=".Body">{Body}</p>
    </div>
  </div>
</div>