<script>
	import { getModalStore } from "@skeletonlabs/skeleton";
	import { onMount } from "svelte";

    let modalStore = getModalStore();

    let url = '';
    onMount(() => {
        url = window.location.href;
    })

    let copyText = "Copy"

    function Copy() {
        navigator.clipboard.writeText(url);
        copyText = "Copied!"
        setTimeout(() => copyText = "Copy", 2000)
    }
</script>

<aside class="relative card max-w-lg w-full flex flex-col p-8 mx-4 items-center">

    <!-- Heading -->
    <h2>Share</h2>
    <p class="mb-12">Share this page on social media</p>

    <!-- Close button -->
    <button class="absolute -top-4 -right-4 btn btn-sm variant-filled-primary" on:click={() => {modalStore.close()}}>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>

    <!-- Social Links -->
    <div class="grid grid-cols-2 gap-x-16 gap-y-8 mb-16">
        <a href="https://www.facebook.com/sharer/sharer.php?u={url}" target="_blank">
            <svg viewBox="0 0 48 48" class="w-16 h-16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Color-" transform="translate(-200.000000, -160.000000)" fill="#4460A0">
                        <path d="M225.638355,208 L202.649232,208 C201.185673,208 200,206.813592 200,205.350603 L200,162.649211 C200,161.18585 201.185859,160 202.649232,160 L245.350955,160 C246.813955,160 248,161.18585 248,162.649211 L248,205.350603 C248,206.813778 246.813769,208 245.350955,208 L233.119305,208 L233.119305,189.411755 L239.358521,189.411755 L240.292755,182.167586 L233.119305,182.167586 L233.119305,177.542641 C233.119305,175.445287 233.701712,174.01601 236.70929,174.01601 L240.545311,174.014333 L240.545311,167.535091 C239.881886,167.446808 237.604784,167.24957 234.955552,167.24957 C229.424834,167.24957 225.638355,170.625526 225.638355,176.825209 L225.638355,182.167586 L219.383122,182.167586 L219.383122,189.411755 L225.638355,189.411755 L225.638355,208 L225.638355,208 Z" id="Facebook"></path>
                    </g>
                </g>
            </svg>
        </a>
        <a href="http://www.x.com/share?url={url}" target="_blank">
            <svg viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-16 h-16">
                <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="currentcolor"/>
            </svg>
        </a>
    </div>

    <!-- URL -->
    <p class="py-2">Or share elsewhere</p>
    <div class="flex flex-row overflow-hidden max-w-md mb-6">
        <input id="url" type="text" value={url} class="input variant-soft-surface rounded-r-none text-left" readonly />
        <button class="btn variant-filled-primary rounded-l-none font-semibold w-44" on:click={() => Copy()}>
            <span>{copyText}</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 8.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v8.25A2.25 2.25 0 0 0 6 16.5h2.25m8.25-8.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-7.5A2.25 2.25 0 0 1 8.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 0 0-2.25 2.25v6" />
            </svg>
        </button>
    </div>
</aside>