<script lang="ts">
	  import MarkdownBody from '../MarkdownBody.svelte';
  
    export let data;
  
    let { Heading, EyebrowText, Body, Image, ImageLocation } = data;
</script>
  
<div class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      
      <!-- Heading -->
      <div class="lg:col-span-2 {ImageLocation === "left" ? "lg:col-start-2" : "lg:col-start-1"} lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 mb-8 lg:mb-0">
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            {#if EyebrowText}
                <p class="font-semibold text-secondary-500" data-sb-field-path=".EyebrowText">{EyebrowText}</p>
            {/if}
            <h1 class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl text-primary-500" data-sb-field-path=".Heading">{Heading}</h1>
          </div>
        </div>
      </div>

      <!-- Image -->
      <div class="aspect-[3/2] relative -mt-12 lg:p-12 lg:sticky lg:top-16 {ImageLocation === "left" ? "lg:col-start-1 lg:-ml-12" : "lg:col-start-2 lg:-mr-12"} lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        {#if Image}
          <a href={Image.Image} target="_blank" class="hover:opacity-90">
            <img class="object-cover w-full h-full shadow-lg" src={Image.Image} alt={Image.altText}/>
          </a>
        {/if}
      </div>

      <!-- Body -->
      <div class="lg:col-span-2 {ImageLocation === "left" ? "lg:col-start-2" : "lg:col-start-1"} lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <MarkdownBody Body={Body} fieldPath=".Body"/>
        </div>
      </div>

    </div>
  </div>
  