<script lang="ts">
    export let href: string;
    export let title: string;
    export let text: string;
</script>

<div class="card w-fit mx-auto flex flex-col items-center">
    <a class="flex flex-col justify-center items-center w-full p-2" href={href} target="_blank">
        <img class="rounded-lg" src={href} alt={text}/>
    </a>
    {#if title}
        <footer class="card-footer p-2 font-semibold">{@html title}</footer>
    {/if}
</div>