<script>
    export let ordered;
    export let raw;
    export let start;
    export let loose;
    export let items;
</script>

{#if ordered}
<ol class="list-decimal list-inside marker:text-lg marker:font-bold marker:text-secondary-600"><slot/></ol>
{:else}
<ul class="list-disc list-inside marker:text-lg marker:text-secondary-600"><slot/></ul>
{/if}