<script>
    import { HeaderSimpleWithEyebrow } from "$lib/components";
	import HeaderSimpleWithEyebrowBackground from "$lib/components/headers/HeaderSimpleWithEyebrowBackground.svelte";
</script>

<article class="flex flex-col items-center">
    
    <h2 class="border-b-2">Header Simple with Eyebrow</h2>
    <section class="w-full">
        <HeaderSimpleWithEyebrow data={{
            EyebrowText: "Eyebrow",
            Heading: "Heading",
            Body: "Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.",
            Styles: {
                self: {
                    width: "full",
                    textAlign: "left"
                }
            }
        }} /> 
    </section>

    <h2 class="border-b-2">Header Simple with Eyebrow and Background</h2>
    <section class="w-full">
        <HeaderSimpleWithEyebrowBackground data={{
            EyebrowText: "Eyebrow",
            Heading: "Heading",
            Body: "Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.",
            BackgroundImage: {
                Image: "https://plus.unsplash.com/premium_photo-1720373139744-1df9bbd233c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                AltText: "Alt Text",
                DarkeningPercentage: 50,
                Styles: {
                    self: {
                        width: "full"
                    }
                }
            },
            Styles: {
                self: {
                    width: "full",
                    textAlign: "center"
                }
            }
        }} /> 
    </section>

</article>