<script>
	import { ContentWithStickyImage } from "$lib/components";
</script>

<article class="flex flex-col items-center">
    
    <h2 class="border-b-2">Content With Sticky Image</h2>
    <section class="w-full">
        <ContentWithStickyImage data={{
            Heading: "Heading",
            EyebrowText: "Eyebrow Text",
            Body: "Lorem ipsum odor amet, consectetuer **adipiscing** _elit_. \n\n- Bullet 1 \n- Bullet 2\n\n Nascetur quam arcu varius urna dui magnis. Venenatis phasellus cubilia turpis justo ultricies hendrerit, at molestie. Est rhoncus at metus pretium, inceptos vestibulum euismod. Venenatis justo pulvinar; tristique nec porttitor justo integer. Semper fusce viverra ridiculus etiam habitasse lacinia aenean. Ullamcorper donec sed, dolor purus natoque etiam.\n\n1. Item 1\n\n2. Item 2\n\nUltrices viverra odio nascetur placerat quis; vivamus tortor sit proin. Efficitur nunc etiam pretium mattis metus dictumst purus praesent. Auctor proin purus dolor fusce; eget pretium tincidunt. Dapibus penatibus enim vehicula potenti in adipiscing enim nunc velit. Mauris suscipit lacinia quis aenean eget sagittis primis tristique. Massa porttitor sapien inceptos ac laoreet praesent. Ligula blandit enim velit; congue aliquet cursus vulputate tempus ipsum.\n\nPenatibus duis quam dui libero ultrices nam. Ad hac nisl; platea adipiscing molestie porta leo. Egestas libero urna bibendum nisi nam netus cubilia? Fusce montes consectetur quam massa tincidunt rhoncus lacus proin. Rhoncus aliquet ultricies ridiculus sociosqu primis litora velit viverra sed. Fringilla ac nisl mus nunc tortor vestibulum mauris non commodo. Taciti amet fermentum mauris sociosqu in feugiat orci.\n\nSuscipit semper maecenas phasellus maecenas mattis mollis ex molestie in. Natoque phasellus fermentum hendrerit dis luctus urna; dictum eu mi. Class neque non dis porta libero turpis varius. Habitasse sodales tincidunt, interdum tellus erat curae senectus. Mi convallis sociosqu ut id etiam nisi. Amet consequat cursus nam etiam phasellus ornare. Curabitur vehicula porta est; ultricies eros litora.\n\nQuis neque nulla torquent nisl, tempus lectus lacinia purus. Dictum orci eget eget imperdiet parturient hendrerit eu. Nostra congue netus est mi elementum. Etiam neque aliquam conubia est vitae condimentum nec dictum primis. Fermentum gravida nisi senectus aptent integer semper tortor. Duis aenean fringilla cursus iaculis posuere. Elementum congue orci bibendum nibh at nibh; a conubia habitasse. Tincidunt ornare bibendum tincidunt neque iaculis duis dolor.",
            Image: {
                Image: "https://plus.unsplash.com/premium_photo-1720373139744-1df9bbd233c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                AltText: "Alt Text",
            },
            ImageLocation: "right"
        }}/>
        <ContentWithStickyImage data={{
            Heading: "Heading",
            EyebrowText: "Eyebrow Text",
            Body: "Lorem ipsum odor amet, consectetuer adipiscing elit. Nascetur quam arcu varius urna dui magnis. Venenatis phasellus cubilia turpis justo ultricies hendrerit, at molestie. Est rhoncus at metus pretium, inceptos vestibulum euismod. Venenatis justo pulvinar; tristique nec porttitor justo integer. Semper fusce viverra ridiculus etiam habitasse lacinia aenean. Ullamcorper donec sed, dolor purus natoque etiam.\n\n## **Heading 2** \n\nUltrices viverra odio nascetur placerat quis; vivamus tortor sit proin. Efficitur nunc etiam pretium mattis metus dictumst purus praesent. Auctor proin purus dolor fusce; eget pretium tincidunt. Dapibus penatibus enim vehicula potenti in adipiscing enim nunc velit. Mauris suscipit lacinia quis aenean eget sagittis primis tristique. Massa porttitor sapien inceptos ac laoreet praesent. Ligula blandit enim velit; congue aliquet cursus vulputate tempus ipsum.\n\nPenatibus duis quam dui libero ultrices nam. Ad hac nisl; platea adipiscing molestie porta leo. Egestas libero urna bibendum nisi nam netus cubilia? Fusce montes consectetur quam massa tincidunt rhoncus lacus proin. Rhoncus aliquet ultricies ridiculus sociosqu primis litora velit viverra sed. Fringilla ac nisl mus nunc tortor vestibulum mauris non commodo. Taciti amet fermentum mauris sociosqu in feugiat orci.\n\nSuscipit semper maecenas phasellus maecenas mattis mollis ex molestie in. Natoque phasellus fermentum hendrerit dis luctus urna; dictum eu mi. Class neque non dis porta libero turpis varius. Habitasse sodales tincidunt, interdum tellus erat curae senectus. Mi convallis sociosqu ut id etiam nisi. Amet consequat cursus nam etiam phasellus ornare. Curabitur vehicula porta est; ultricies eros litora.\n\nQuis neque nulla torquent nisl, tempus lectus lacinia purus. Dictum orci eget eget imperdiet parturient hendrerit eu. Nostra congue netus est mi elementum. Etiam neque aliquam conubia est vitae condimentum nec dictum primis. Fermentum gravida nisi senectus aptent integer semper tortor. Duis aenean fringilla cursus iaculis posuere. Elementum congue orci bibendum nibh at nibh; a conubia habitasse. Tincidunt ornare bibendum tincidunt neque iaculis duis dolor.",
            Image: {
                Image: "https://plus.unsplash.com/premium_photo-1720373139744-1df9bbd233c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                AltText: "Alt Text",
            },
            ImageLocation: "left"
        }}/>
        <ContentWithStickyImage data={{
            Heading: "Heading",
            EyebrowText: "Eyebrow Text",
            Body: "Lorem ipsum odor amet, consectetuer adipiscing elit. Nascetur quam arcu varius urna dui magnis. Venenatis phasellus cubilia turpis justo ultricies hendrerit, at molestie. Est rhoncus at metus pretium, inceptos vestibulum euismod. Venenatis justo pulvinar; tristique nec porttitor justo integer. Semper fusce viverra ridiculus etiam habitasse lacinia aenean. Ullamcorper donec sed, dolor purus natoque etiam.\n\nUltrices viverra odio nascetur placerat quis; vivamus tortor sit proin. Efficitur nunc etiam pretium mattis metus dictumst purus praesent. Auctor proin purus dolor fusce; eget pretium tincidunt. Dapibus penatibus enim vehicula potenti in adipiscing enim nunc velit. Mauris suscipit lacinia quis aenean eget sagittis primis tristique. Massa porttitor sapien inceptos ac laoreet praesent. Ligula blandit enim velit; congue aliquet cursus vulputate tempus ipsum.\n\nPenatibus duis quam dui libero ultrices nam. Ad hac nisl; platea adipiscing molestie porta leo. Egestas libero urna bibendum nisi nam netus cubilia? Fusce montes consectetur quam massa tincidunt rhoncus lacus proin. Rhoncus aliquet ultricies ridiculus sociosqu primis litora velit viverra sed. Fringilla ac nisl mus nunc tortor vestibulum mauris non commodo. Taciti amet fermentum mauris sociosqu in feugiat orci.\n\nSuscipit semper maecenas phasellus maecenas mattis mollis ex molestie in. Natoque phasellus fermentum hendrerit dis luctus urna; dictum eu mi. Class neque non dis porta libero turpis varius. Habitasse sodales tincidunt, interdum tellus erat curae senectus. Mi convallis sociosqu ut id etiam nisi. Amet consequat cursus nam etiam phasellus ornare. Curabitur vehicula porta est; ultricies eros litora.\n\nQuis neque nulla torquent nisl, tempus lectus lacinia purus. Dictum orci eget eget imperdiet parturient hendrerit eu. Nostra congue netus est mi elementum. Etiam neque aliquam conubia est vitae condimentum nec dictum primis. Fermentum gravida nisi senectus aptent integer semper tortor. Duis aenean fringilla cursus iaculis posuere. Elementum congue orci bibendum nibh at nibh; a conubia habitasse. Tincidunt ornare bibendum tincidunt neque iaculis duis dolor.",
            ImageLocation: "left"
        }}/>
    </section>

</article>