<script lang="ts">
	import IconComponent from "../Icon.svelte";

    const now = new Date();

    export let data;

    let {
        Icon,
        MissionStatement,
        Categories
    } = data;
</script>

<footer class="bg-surface-100-800-token px-6" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto py-8 sm:pt-16">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">

        <!-- Left block -->
        <div class="space-y-8">
            {#if Icon}
                <IconComponent Icon={Icon}/>
            {/if}

            <!-- Misson Statement -->
            {#if MissionStatement}
                <p class="text-sm leading-6">{MissionStatement}</p>
            {/if}

            <!-- TODO Socials -->
            <!-- Socials
            <div class="flex space-x-6">
                {#each socials as icon}
                    <SocialIcon {icon}/>
                {/each}
            </div> -->
        </div>

        <!-- Links -->
        {#if Categories}
            <div class="mt-16 grid grid-cols-2 sm:grid-cols-4 gap-8 xl:col-span-2 xl:mt-0">
                <!-- Solutions -->
                {#each Categories as category}
                    <div>
                        <h3 class="text-sm font-semibold leading-6 ">{category.Label}</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {#if category.Links}
                                {#each category.Links as link}
                                    <li>
                                        <a href={link.Url} class="text-sm leading-6" rel="external">{link.Label}</a>
                                    </li>
                                {/each}
                            {/if}
                        </ul>
                    </div>
                {/each}
            </div>
        {/if}
      </div>

      <!-- Copyright -->
      <div class="mt-16 border-t border-white/10 pt-8">
        <p class="text-xs leading-5 ">&copy; {now.getFullYear()} All rights reserved.</p>
      </div>
    </div>
  </footer>
  