@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

::selection { @apply bg-secondary-500/30; }

h1 { @apply h1 }
h2 { @apply h2 }
h3 { @apply h3 }
h4 { @apply h4 }
h5 { @apply h5 }
h6 { @apply h6 }

time { @apply time; }

p > a { @apply underline text-tertiary-600-300-token hover:text-tertiary-400 visited:text-primary-400; }

blockquote { @apply blockquote border-secondary-600; }

pre { @apply pre; }

.block-img { @apply max-w-4xl mx-auto; }

.markdown-paragraph > p > code { @apply code; }

.markdown-paragraph > blockquote { @apply my-0; }

.markdown-paragraph table > thead > tr { @apply border border-surface-600-300-token; }
.markdown-paragraph table > thead > tr > th { @apply h3 p-4 border-r border-surface-600-300-token; }

.markdown-paragraph table > tbody > tr { @apply border border-surface-600-300-token; }
.markdown-paragraph table > tbody > tr > td { @apply p-2 border-r border-surface-600-300-token; }

.fc .fc-list-day-cushion { @apply p-4 z-50; }
.fc .fc-cell-shaded { @apply variant-filled-surface; }
.fc .fc-list-event { @apply variant-filled-surface hover:variant-glass-surface hover:text-black; }