<script lang="ts">
    import { AppBar, getDrawerStore } from "@skeletonlabs/skeleton";
    import PopupMenu from "$lib/components/PopupMenu.svelte";

    import IconComponent from "$lib/components/Icon.svelte";
	import ModalButton from "$lib/components/ModalButton.svelte";
	import { Share } from "$lib/components/modals";

    export let data;
    let { Mobile, Icon, Links, Menus, Modals, ShowShareButton } = data;

    const drawerStore = getDrawerStore();
</script>

{#if !Mobile}
    <nav id="menu">
        <div class="w-full flex flex-col items-center bg-surface-100-800-token">
          <AppBar class="w-full overflow-hidden">
            <svelte:fragment slot="lead">
              <IconComponent Icon={Icon}/>
            </svelte:fragment>

            <svelte:fragment slot="trail">
              <div class="hidden sm:flex flex-row items-center">
                {#if Links}
                    {#each Links as link}
                        <a href={link.Url} rel="external" class="btn btn-sm font-bold hover:variant-glass-surface py-4 px-6" >{link.Label}</a>
                    {/each}
                {/if}

                {#if Modals}
                    {#each Modals as Modal}
                        <ModalButton data={Modal}/> 
                    {/each}
                {/if}

                {#if Menus}
                    {#each Menus as Menu}
                        <PopupMenu data={{Mobile, Menu}} />
                    {/each}
                {/if}

                {#if ShowShareButton}
                    <ModalButton data={{
                        Label: "Share",
                        Component: Share
                    }}/>
                {/if}
              </div>

              <button class="block sm:hidden btn btn-small hover:variant-glass-surface" on:click={() => drawerStore.open({
                id: 'mobile-menu',
                position: 'right',
                rounded: 'rounded-none',
                width: 'w-full'
              })}>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg> 
              </button>
            </svelte:fragment>
          </AppBar>
        </div>
      </nav>
{:else}
    <nav id="mobileMenu" class="flex flex-col w-full" on:click={() => drawerStore.close()}>
        <AppBar class="w-full">
            <svelte:fragment slot="lead">
                <IconComponent Icon={Icon}/>
            </svelte:fragment>

            <svelte:fragment slot="trail">
                <button class="btn btn-small hover:variant-glass-surface" on:click={() => drawerStore.close()}>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </svelte:fragment>
        </AppBar>

        <div class="flex flex-col space-y-4 p-8 w-full items-start">
            {#if Links}
                {#each Links as link}
                    <button class="btn btn-sm hover:variant-glass-surface text-xl w-full items-start flex flex-col py-4 px-6">
                        <a href={link.Url} rel="external">{link.Label}</a>
                    </button>
                {/each}
            {/if}

            {#if Modals}
                    {#each Modals as Modal}
                        <ModalButton data={Modal} Mobile/>
                    {/each}
            {/if}

            {#if Menus}
                {#each Menus as Menu}
                    <PopupMenu data={{Mobile, Menu}}/>
                {/each}
            {/if}

            {#if ShowShareButton}
                <ModalButton data={{
                    Label: "Share",
                    Component: Share
                }} Mobile/>
            {/if}
        </div>
    </nav>
{/if}
