<script lang="ts">
	import Button from "../Button.svelte";
	import MarkdownBody from "../MarkdownBody.svelte";

  
    export let data;
  
    let { Heading, Body, Buttons, Image } = data;
</script>
  
<div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="relative isolate overflow-hidden px-6 pt-16 shadow-2xl lg:px-16 md:pt-24 lg:flex lg:pt-0">

        <!-- Text -->
        <div class="mx-auto {Image ? "max-w-md" : ""} text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
            <h2 class="text-3xl font-bold tracking-tight sm:text-4xl text-primary-500" data-sb-field-path=".Heading">{Heading}</h2>

            <div class="mt-6 text-lg leading-8">
                <MarkdownBody Body={Body} fieldPath=".Body"/>
            </div>
            
            <!-- Buttons -->
            {#if Buttons}
                <div class="grid {Image ? "grid-cols-1" : "grid-cols-1 sm:grid-cols-2"} px-10 -mx-10 mt-10 flex items-center justify-center gap-6 lg:justify-start mb-16 lg:mb-0" data-sb-field-path=".Buttons">
                    {#each Buttons as button, index}
                        <Button data={button} fieldPath=".{index}"/>
                    {/each}
                </div>
            {/if}
        </div>

        <!-- Image -->
        {#if Image}
            <a href={Image.Image} target="_blank" class="relative overflow-hidden right-0 lg:absolute sm:h-full lg:w-1/2 hover:opacity-90 mt-16 lg:mt-8" data-sb-field-path=".Image">
                <img data-sb-field-path=".Image" class="object-cover h-96 lg:h-full w-full" src={Image.Image} alt={Image.AltText}>
            </a>
        {/if}
    </div>
</div>
