<script>
    export let data;

    let { PageContent, settings } = data;
</script>

<svelte:head>
    <meta charset="utf-8">
    <title>{PageContent.title}</title>
    <meta property="og:title" content="{PageContent.title}">
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{PageContent.description}">
    {#if PageContent.MetaImage}
        <meta property="og:image" content="{settings.BaseURL}{PageContent.MetaImage}">
    {/if}
    <meta property="og:url" content="{settings.BaseURL}{PageContent.slug ? PageContent.slug : ""}">
    <meta name="twitter:card" content="summary_large_image">
</svelte:head>