<script>
    import { TeamWithImageAndParagraph } from "$lib/components";
</script>

<article class="flex flex-col items-center">
    
    <h2 class="border-b-2">Team with Image and Paragraph</h2>
    <section class="w-full">
        <TeamWithImageAndParagraph data={{
            Heading: "Our Team",
            Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
            TeamCards: [
                {
                    Name: "Member 1",
                    Title: "Team Member",
                    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    BackgroundImage: {
                        Image: "https://plus.unsplash.com/premium_photo-1720373139744-1df9bbd233c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        AltText: "Alt Text",
                        DarkeningPercentage: 50,
                        Styles: {
                            self: {
                                width: "full"
                            }
                        }
                    },
                },
                {
                    Name: "Member 2",
                    Title: "Team Member",
                    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    BackgroundImage: {
                        Image: "https://plus.unsplash.com/premium_photo-1720373139744-1df9bbd233c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        AltText: "Alt Text",
                        DarkeningPercentage: 50,
                        Styles: {
                            self: {
                                width: "full"
                            }
                        }
                    },
                },
                {
                    Name: "Member 3",
                    Title: "Team Member",
                    Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    BackgroundImage: {
                        Image: "https://plus.unsplash.com/premium_photo-1720373139744-1df9bbd233c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                        AltText: "Alt Text",
                        DarkeningPercentage: 50,
                        Styles: {
                            self: {
                                width: "full"
                            }
                        }
                    },
                },
            ],
            Styles: {
                self: {
                    width: "full",
                    textAlign: "left"
                }
            }
        }}
        
        />
    </section>

</article>