<script>
    export let data;

    let {CampaignID} = data;
</script>

<div class="flex flex-col items-center">
    <div class="m-12 sm:m-16 lg:m-24 max-w-7xl w-full mx-auto p-2 rounded-2xl bg-primary-500">
        <iframe title="Give Send Go Widget" class="gsg rounded-2xl w-full min-h-screen" type="text/html" src="https://givesendgo.com/{CampaignID}/grabwidget" />
    </div>
</div>
