<script lang="ts">
	import { Meta, LirioBlocks } from "$lib/components";

    export let data;

    let { PageContent } = data;
    let blocks = PageContent.blocks;
</script>

<Meta {data}/>

<article class="flex flex-col items-center" data-sb-object-id={data.path}>
    {#if blocks}
        {#each PageContent.blocks as block, index}
            <section data-sb-field-path={`blocks.${index}`} class="w-full">
                <svelte:component this={LirioBlocks.find(component => component.blockReferenceID === block.blockReferenceID)?.component} data={block} />
            </section>
        {/each}
    {/if}
</article>
