<script>
	import { GiveSendGo } from "$lib/components";


    
</script>

<article class="flex flex-col items-center">
    
    <h2 class="border-b-2">GiveSendGo Widget</h2>
    <section class="w-full">
        <GiveSendGo data={{CampaignID: "prayersforjackson"}}/>
    </section>

</article>