<script>
	import { CTAWithImage } from "$lib/components";
	import Button from "$lib/components/Button.svelte";

    
</script>

<article class="flex flex-col items-center">
    
    <h2 class="border-b-2">CTA With Image</h2>
    <section class="w-full">
        <CTAWithImage data={{
            Heading: "Heading",
            Body: "Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla.\n\n - Bullet",
            Buttons: [
                {
                    Url: "#",
                    Label: "Get started",
                    Arrow: true,
                    Variant: {
                        type: "Variant",
                        value: "variant-filled-primary"
                    },
                    ArrowVariant: {
                        type: "Variant",
                        value: "variant-filled-surface"
                    }
                },
                {
                    Url: "#",
                    Label: "Learn More",
                    Arrow: true,
                    Variant: {
                        type: "Variant",
                        value: "variant-soft-surface"
                    },
                    ArrowVariant: {
                        type: "Variant",
                        value: "variant-filled-surface"
                    }
                }
            ],
            Image: {
                Image: "https://plus.unsplash.com/premium_photo-1720373139744-1df9bbd233c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                AltText: "Alt Text"
            },
        }}/>
        <CTAWithImage data={{
            Heading: "Heading",
            Body: "Ac euismod vel sit maecenas id pellentesque eu sed consectetur.",
            Buttons: [
                {
                    Url: "#",
                    Label: "Get started",
                    Variant: {
                        type: "Variant",
                        value: "variant-filled-primary"
                    }
                }
            ],
            Image: {
                Image: "/favicon.png",
                AltText: "Alt Text"
            },
        }}/>
    </section>

</article>