<script lang="ts">
	import BackgroundImage from '../BackgroundImage.svelte';
	import MarkdownBody from '../MarkdownBody.svelte';
  
    export let data;
  
    let { Heading, Description, TeamCards } = data;
</script>
  
<div class="py-24 md:py-32 lg:py-40">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">

        <!-- Heading and Text -->
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 id={`TeamWithImageAndParagraph-${Heading}`} data-sb-field-path=".Heading" class="mt-2 text-4xl font-bold tracking-tight sm:text-6xl text-primary-500">{Heading}</h2>
            <div class="mt-6 text-lg leading-8">
                <MarkdownBody Body={Description} fieldPath=".Description"/>
            </div>
        </div>

        <!-- List of Cards -->
        <ul role="list" class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:gap-x-8 xl:col-span-2">
            {#if TeamCards}
                {#each TeamCards as card, index}
                    <li class="flex flex-col" data-sb-field-path={`.TeamCards.${index}`}>
                        <!-- Image -->
                        <div class="relative aspect-[1/1]">
                            <BackgroundImage BackgroundImage={card.BackgroundImage} objectSize="object-fill" />
                        </div>

                        <!-- Name -->
                        <h3 class="mt-6 font-semibold text-secondary-500" data-sb-field-path=".Name">{card.Name}</h3>

                        <!-- Title -->
                        <p class="text-primary-500" data-sb-field-path=".Title">{card.Title}</p>

                        <!-- Description -->
                        <div class="mt-4">
                            <MarkdownBody Body={card.Description} fieldPath=".Description"/>
                        </div>
                        
                        <!-- TODO Socials -->
                    </li>
                {/each}
            {/if}
        </ul>
    </div>
  </div>
  