<script>
	import { getContainerWidthClass } from "$lib/util";

    export let BackgroundImage;
    export let objectSize = "object-cover";

    let darkenOpacity;
    switch (BackgroundImage.DarkeningPercentage) {
        case '10':
            darkenOpacity = "opacity-10";
            break;
        case '20':
            darkenOpacity = "opacity-20";
            break;
        case '30':
            darkenOpacity = "opacity-30";
            break;
        case '40':
            darkenOpacity = "opacity-40";
            break;
        case '50':
            darkenOpacity = "opacity-50";
            break;
        case '60':
            darkenOpacity = "opacity-60";
            break;
        case '70':
            darkenOpacity = "opacity-70";
            break;
        case '80':
            darkenOpacity = "opacity-80";
            break;
        case '90':
            darkenOpacity = "opacity-90";
            break;
        case '100':
            darkenOpacity = "opacity-100";
            break;
        default:
            darkenOpacity = "opacity-0";
            break;
    }

</script>

<img 
    data-sb-field-path=".BackgroundImage"
    src={BackgroundImage.Image} 
    alt={BackgroundImage.AltText}
    class={`absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10 h-full w-full ${objectSize} ${getContainerWidthClass(BackgroundImage.Styles.self.width)}`}
>
{#if BackgroundImage.DarkeningPercentage}
    <div class={`absolute inset-0 -z-10 object-cover bg-gray-900 ${darkenOpacity}`}></div>
{/if}