<script>
	import { getVariantClass } from "$lib/util";

    export let data;
    export let fieldPath;

    let {Label, Url, Arrow, Variant, ArrowVariant} = data;
</script>

<a data-sb-field-path={fieldPath} rel="external" class="btn w-full p-0 flex flex-row items-center {Variant ? getVariantClass(Variant) : ""} group overflow-hidden" href={Url}>
    <p class="py-4 px-6 {ArrowVariant ? "ml-16" : ""} font-bold flex-grow" data-sb-field-path=".Label">{Label}</p>
    
    {#if Arrow}
        <span class="py-4 px-4 {ArrowVariant ? getVariantClass(ArrowVariant) : ""} rounded-tr-token rounded-br-token group-active:translate-x-16 transition-all ease-in-out duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </span>
    {/if}
</a>
