<script>
    export let Icon;
</script>

{#if Icon.Url}
    <a
        href={Icon.Url}
        rel="external"
        class="flex items-center object-contain max-w-48 max-h-16"
    >
        <img src={Icon.Image} alt={Icon.AltText}/>
    </a>
{:else}
    <div
        class="flex items-center object-contain max-w-48 max-h-16"
    >
        <img src={Icon.Image} alt={Icon.AltText}/>
    </div>
{/if}