<script>
    import SvelteMarkdown from 'svelte-markdown';
    import Image from './markdownRenderers/Image.svelte';
    import ListItem from './markdownRenderers/ListItem.svelte';
    import List from './markdownRenderers/List.svelte';

    export let Body;
    export let fieldPath;
</script>

<div class="max-w-xl leading-7 lg:max-w-lg markdown-paragraph flex flex-col space-y-4 text-tertiary-900-50-token" data-sb-field-path="{fieldPath}">
    <SvelteMarkdown source={Body} renderers={{image: Image, listitem: ListItem, list: List}}/>
</div>