<script lang="ts">
	import type { ModalSettings } from "@skeletonlabs/skeleton";
	import { getModalStore } from "@skeletonlabs/skeleton";

    export let data;
    export let Mobile = false;

    let { Label, Component } = data;

    const modalStore = getModalStore();

    const modal: ModalSettings = {
        type: "component",
        component: {ref: Component}
    }
</script>


<button class="btn btn-sm w-full hover:variant-glass-surface overflow-hidden py-4 px-6 {Mobile ? "text-xl text-left flex flex-col items-start" : "font-bold"}" on:click={() => modalStore.trigger(modal)}>
    {Label}
</button>

