<script lang="ts">
    import { popup } from '@skeletonlabs/skeleton';
    import type { PopupSettings } from '@skeletonlabs/skeleton';

    export let data;
    let { Mobile, Menu } = data;

    const popupSettings: PopupSettings = {
        event: Menu.Event,
        target: `${Menu.Label}Popup`,
        placement: Menu.Placement
    }
</script>

{#if !Mobile}
    <button
    class="btn btn-sm font-bold hover:variant-glass-surface py-4 px-6"
    use:popup={popupSettings}
    >
        {Menu.Label}
    </button>
    <div class="card p-4 w-60 shadow-xl" data-popup={`${Menu.Label}Popup`}>
        {#if Menu.Links}
            {#each Menu.Links as link}
                <a class="btn btn-sm font-semibold hover:variant-glass-surface w-full text-left py-2" rel="external" href={link.Url}>{link.Label}</a>
            {/each}
        {/if}
        <div class="arrow bg-surface-800-100-token"></div>	
    </div>
{:else}
    <ul class="w-full">
        <li>
            <p class="px-6 text-xl text-gray-700/70 dark:text-gray-300/70 pb-4">
                {Menu.Label}
            </p>
        </li>
        {#if Menu.Links}
            {#each Menu.Links as link}
                <li class="flex flex-row items-start">
                    <button class="btn btn-sm hover:variant-glass-surface text-lg ml-6 w-full py-4 px-6">
                        <a rel="external" href={link.Url} class="w-full text-left">{link.Label}</a>
                    </button>
                </li>
            {/each}
        {/if}
    </ul>
{/if}
  